@font-face {
    font-family: 'Pokemon';
    src: url(/public/fonts/Pokemon\ Classic.ttf);
}

@keyframes image-spin {
    0% {
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes text-pop {
    from {
        color: white;
    }

    to {
        color: black;
    }
}

@keyframes image-bounce {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes card-disappear {
    from {
        opacity: 10;
    }

    to {
        transform: scale(0.1);
        display: none;
    }
}

@keyframes show-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.foo {
    animation: 1s show-up 1;
}

:root {
    --var-pixelated-borders: polygon(
        0px calc(100% - 20px),
        4px calc(100% - 20px),
        4px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 4px),
        20px calc(100% - 4px),
        20px 100%,
        calc(100% - 20px) 100%,
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 20px),
        100% calc(100% - 20px),
        100% 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 0px,
        20px 0px,
        20px 4px,
        12px 4px,
        12px 8px,
        8px 8px,
        8px 12px,
        4px 12px,
        4px 20px,
        0px 20px
    );
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Pokemon';
}

img {
    display: block;
    width: 60%;
    margin: auto;
}

dialog {
    padding: 1rem 2rem 3rem 2rem;
    text-align: center;

    > button {
        border: none;
        background: none;
        transition: transform 200ms ease;
        animation: 1s text-pop infinite alternate;
    }

    > button:hover {
        transform: scale(1.2);
        text-decoration: underline;
        animation: none;
    }

    p:first-of-type {
        font-size: 2rem;
    }
}

#root {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.loading {
    margin: 0 auto;
    min-height: 90vh;
    text-align: center;
    font-size: calc(22rem / 16);

    > p {
        background-color: white;
        padding: 1rem;
        clip-path: var(--var-pixelated-borders);
        animation: 700ms text-pop infinite alternate;
    }
}

.pokeball {
    align-self: center;
    margin: 0;
    width: 10%;
    animation: 3s image-spin infinite;
}

.cards {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    > div {
        width: 15%;
        background-color: white;
        clip-path: var(--var-pixelated-borders);
        text-align: center;
        transition: transform 500ms ease;
        transition: opacity 300ms ease;
    }

    > div:hover {
        transform: scale(1.3);
        margin: 2rem;
        animation: 500ms text-pop infinite alternate;

        > img {
            animation: 500ms image-bounce infinite alternate;
        }
    }

    > div:active {
        opacity: 0;
    }
}

.score {
    font-size: 1rem;
    align-self: flex-end;
}
